#leftContainer {
    position:fixed;
    width:200px;
    height:100%;
    left:-215px;
    top:0px;
    background:#232323;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    z-index: 10000;
}

#doNotDisturb {
    color:#FFF;
}

#doNotDisturb .on {
    background:#c30000;
    padding:5px 10px;
}

#doNotDisturb .off {
    background:#00ba00;
    padding:5px 10px;
    display:none;
}

#doNotDisturb .title-row {
    font-family: "Roboto Condensed", sans-serif;
    font-weight:700;
    font-size:1.5em;
}

#doNotDisturb .subtext-row {
    font-size:0.9em;
}

#doNotDisturb i {
    font-size: 2.5em;
    margin-top:6px;
    margin-right:2px;
}



#menu {
    padding:7.5px 0px;
}

#menu li {
    list-style-type: none;
}

#menu li a{
    color: #DDD;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 15px;
    padding: 7.5px;
    display: block;
    text-decoration: none;
}

#menu li a:hover,
#menu li a:focus {
    color:#EEE;
}

#menu li.active a {
    color:#FFF;
    font-weight:700;
}

#menu li a i {
    margin-right:5px;
}